* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#video-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.main {
    height: 100vh;
    display: flex;
}

.main_left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main_right {
    flex: 0.2;
}

.main_videos {
    flex-grow: 1;
    display: flex;
    background-color: #000;
    justify-content: center;
    align-items: center;
}

.mic-icon {
    font-size: 2rem;
}

.main_controls {
    display: flex;  
    background-color: #1c1e20;
    color: #d2d2d2;
    padding: 5px;
    justify-content: space-between;
}

.main_controls_block {
    display: flex;
}

.main_controls_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    min-width: 80px;
    cursor: pointer;
}

.main_controls_button i {
    font-size: 24px;
}

.leave_meeting {
    text-transform: uppercase;
    color: red;
    font-size: 20px;
    font-weight: 600;
}

.main_controls_button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main_right {
    border-left: 1px solid #3d3d42;
    background-color: #242424;
    display: flex;
    flex-direction: column;
}

.main_header {
    text-align: center;
    color: #f5f5f5;
}

.main_header h4 {
    margin-top: 10px;
}

.main_chat_window {
    flex-grow: 1;
    overflow-y: scroll;
}

.main_message_container {
    display: flex;
    padding: 22px 12px;
}

.main_message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f5f5f5;
    padding: 5px;
}

.messages {
    color: #f5f5f5;
}

.messages li {
    list-style-type: none;
}

.unmute, .stop {
    color: red;
}

